@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add Engineer</h3>

<h5>Add an engineer to @Html.DisplayFor(model => model.Type)</h5>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Machine List", "Index")</p>