@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models
@using System.Linq

<h3>Add Engineer</h3>

<h5>Repair to @Html.DisplayFor(model => model.Type):</h5>

@if (!Enumerable.Any(ViewBag.EngineerId))
{
  <p><em>-- you have no engineers entered in this system --</em><br>
  <em>-- enter an engineer, then you can add repair to machine --</em></p>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
  }
}

<p>@Html.ActionLink("Back to Machine List", "Index")</p>