@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Add a new machine</h2>

<p>@Html.ValidationMessageFor(model => model.Type, "", new { @class="text-danger", @style="font-weight: 600"})</p>

@using (Html.BeginForm())
{
  @Html.DisplayNameFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Add" />
}

<br>
<p>
@Html.ActionLink("Back to Machines List", "Index")<br>
@Html.ActionLink("Back Home", "Index", "Home")
</p>

