@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h3>Edit Machine,</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <p>
    @Html.DisplayNameFor(model => model.Type): @Html.EditorFor(model => model.Type)
    @Html.DropDownList("Status", new List<SelectListItem>
    {
      new SelectListItem{ Text="Operational", Value="Operational" },
      new SelectListItem{ Text="Malfunctioning", Value="Malfunctioning"},
      new SelectListItem{ Text="Maintenance", Value="Maintenance"}
    })
    @Html.DisplayNameFor(model => model.Service): @Html.EditorFor(model => model.Service)

    <input type="submit" value="Update" />
  </p>
}

<hr>

@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })<br>
@Html.ActionLink("Back to Machine Details", "Details", new { id = Model.MachineId })<br>
@Html.ActionLink("Back to Machines List", "Index")<br>
@Html.ActionLink("Return Home", "Index", "Home")