@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h3>Edit Machine,</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <p>
    Machine: @Html.EditorFor(model => model.Type)

    <input type="submit" value="Update" />
  </p>
}

<hr>

@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })<br>
@Html.ActionLink("Back to Machine Details", "Details", new { id = Model.MachineId })<br>
@Html.ActionLink("Back to Machines List", "Index")<br>
@Html.ActionLink("Return Home", "Index", "Home")