@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h3>Add Machine</h3>

<h5>Add a License to @Html.DisplayFor(model => model.Name)</h5>

@if (!Enumerable.Any(ViewBag.MachineId))
{
  <p><em>-- you have no machines entered in this system --</em><br>
  <em>-- enter a machine, then you can add machine licenses to engineer --</em></p>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")<br>

    <input type="submit" value="Save" />
  }
}


<p>@Html.ActionLink("Back to Engineer List", "Index")</p>