@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;

<h3>Engineer Details</h3>
<hr>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>

@if (Model.JoinEntities.Count == 0)
{
  <p>This engineer is not assigned to any machines.</p>
}
else
{
  <h5>Machine licenses for repair:</h5>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{@join.Machine.Type}", "Details", "Machines", new { id = join.Machine.MachineId })</li>
    @using (Html.BeginForm("DeleteJoin", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      @Html.Hidden("id", @Model.EngineerId)
      <input type="submit" value="Remove License" />
    }
  }
  </ul>

}
<hr>
<p>
@Html.ActionLink("Add Machine to Engineer", "AddMachine", new { id = Model.EngineerId })<br>
@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })<br>
@Html.ActionLink("Back to Engineers List", "Index")<br>
@Html.ActionLink("Return Home", "Index", "Home")
</p>

