@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Welcome, Dr. Sillstringz.</h1> 
<h3>How would you like to proceed today?</h3>

<hr>
<p>@Html.ActionLink("Machine Management", "Index", "Machines") -- OR --
@Html.ActionLink("Engineer Management", "Index", "Engineers")</p>
<hr>

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p><em>-- you have no machines entered in this system --</em></p>
}
<ul>
  @foreach(Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Type, "Details", "Machines", new { id = @machine.MachineId })</li>
  }
</ul>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p><em>-- you have no engineers entered in this system --</em></p>
}
<ul>
  @foreach(Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
  }
</ul>
